Repository StackExchange/Stacks-Editor, pull requests merged in 2022-07, with the labels that each got.

#146 feat(commonmark-editor): add preview plugin
  site/index.ts
  site/layout.html
  site/views/md-preview.html
  src/commonmark/editor.ts
  src/commonmark/plugins/preview.ts
  src/shared/markdown-parser.ts
  src/stacks-editor/editor.ts
  src/styles/custom-components.less
  test/commonmark/plugins/preview.test.ts
Labels: enhancement, mode - markdown

#130 fix: open link on Mod-Click
  src/rich-text/plugins/link-editor.ts
  src/shared/utils.ts
  test/rich-text/plugins/link-editor.test.ts
  test/shared/utils.test.ts
Labels: bug, mode - rich text

#204 enhancement(editor) All shortcuts are shown in popovers with capital letters
  src/commonmark/commands.ts
  src/rich-text/commands/index.ts
Labels: enhancement

#157 fix(rich-text-editor): allow any block inside list item
  src/rich-text/commands/index.ts
  src/rich-text/schema.ts
  test/matchers.ts
  test/rich-text/commands/index.test.ts
  test/shared/markdown-parser.test.ts
  test/shared/markdown-serializer.test.ts
Labels: bug
